@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Quicksand:wght@300&family=Supermercado+One&family=Ubuntu:wght@300;400&display=swap');
:root{--grey:#313131;
      --white:#fff;
      --optional:#D1D1D1;
    }
 
*{
font-family: 'Ubuntu', sans-serif;
margin: 0px;
padding: 0px;
outline: none;
border: none;
box-sizing: border-box;
text-decoration: none;
text-transform: capitalize;
transition: all .2s linear;
}

 ::selection{ 
  background-color: var(--grey);
  color: #fff;
}
html{
  font-size: 62.5%;
  overflow: auto;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}
section{
  padding: 2rem 12%;
}

.header-1{
  background:var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}
.logo{
  color: var(--white);
  font-size: 3rem;
  font-weight: bold;
  font-family: cursive;
}
.logo i{
  color: var(--optional);
  padding-right: 1rem;
}
.header-1 .search-box-container{
  display: flex;
  height: 5rem;
}
.header-1 .search-box-container #search-box{
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 2rem;
  color: var(--optional);
  border: .6rem solid rgba(0,0,0,.3);
  text-transform: none;

}
.header-1 .search-box-container label{
  height: 100%;
  width: 8rem;
  font-size: 2.5rem;
  line-height: 5rem;
  color: var(--grey);
  background: var(--white);
  cursor: pointer;
  text-align: center;

}

.header-1 .search-box-container label:hover{
  background: var(--optional);
}
.header-2{
  background:var(--optional);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;

}
.header-2 .navbar a{
  padding: 12px 18px;
  font-size: 2rem;
  border-radius: .5rem;
  color: var(--black);
  cursor: pointer;


}
.header-2 .navbar a:hover{

  background: var(--grey);
  color: #fff;
}
.header-2 .icons a {
  padding-left: 1rem;
  font-size: 2.5rem;
  color: var(--black);
}
.header-2 .icons a:hover{
  color: var(--white);
}

/*header section end  */

/* home section start  */

.heading-1{
 border: 1px solid grey; 
 display: flex;
  background: #fff;
  color: var(--grey);
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 30px;
  box-shadow: 0 5px 10px;
}

  .section{
   
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: .5rem;
      position: relative;
     
     }
  
 

 .section-1{
 display: flex;
 margin: auto 50px auto 60px;
 flex-wrap: no-wrap;
 position: relative;

} 


.box{
  width: 470px;
  margin: 0 auto;
}

.box .box-img{
  transform: rotateY(0);
 }

.box:hover .box-img{
  transform: rotateY(-180deg);
  transition: all 1s ease-in-out 0s;
}

.box .box-img img{
  width: 100%;
  height: 491px;

}

 
.section-1b{
  position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: #FFE9E3; 
 line-height: 50px;
 height: 491px;
 width: 470px; 
 transform: rotateY(0);

} 
.section-1b:hover {
  transform: rotateY(360deg);
  transition: all 2s ease-in-out 0s;
} 


 

.para-1b{ 
color: #313131;
 font-size: 42px;}
.para-2b{
color: #424242;
 font-size: 23px;
} 
.rounded-1b{    
border-bottom: 4px solid #424242;
 width: 100px;
 text-align: end;
}
.para-3b{
 color: #424242;
 font-size: 21px;
 line-height: 10rem;
}
.para-3b:hover{
  color: crimson;
  cursor: pointer;
}

.section-2{
 display: flex;
 flex-wrap: nowrap;
 margin: auto 50px auto 60px;


}  
.section-2a{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: #A3C7BD;
 line-height: 50px;
 height: 491px;
 width: 470px;
transform: rotateY(0);} 

.section-2a:hover {
  transform: rotateY(360deg);
  transition: all 2s ease-in-out 0s;
} 


 
.para-2i{
 color: white;
 font-size: 42px;}
.para-2ii{
 color: white;
 font-size: 23px;
} 
.rounded-1a{
 border-bottom: 4px solid white;
 width: 100px;
 text-align: end;
}
.para-2iii{
 color: white;
 font-size: 21px;
 line-height: 10rem;
}
.para-2iii:hover{
color: crimson;
cursor: pointer;
}
/* home section end */

.btn{
  background: var(--optional);
  color: var(--black);
  border: 2px solid gray;
  text-transform: capitalize;
  font-size: 20px;
  margin: 10px 0px;
  padding: 15px 25px;
  border-radius: 5px;
}

.btn-but{
 
  background: none;
  color: var(--black);
  border: 2px solid black;
  text-transform: capitalize;
  font-size: 20px;
  margin: 10px 0px;
  padding: 15px 25px;
  border-radius: 5px;
  position: relative;
  transition:color 0.3s ease-in-out;

}
.footer .box-container .box .share a:hover{
  color: crimson;

}
.btn-but::before{
  content: "";
  position: absolute;
  width: 0;height: 100%;
  background: var(--grey);
  top: 0;left: 0;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}
.btn-but:hover::before{width: 100%;}

.btn-but:hover{color: var(--white);}

.btn-1{
 
  background: var(--optional);
  color: var(--black);
  text-transform: capitalize;
  font-size: 20px;
  padding: 1px 8px;
  border-radius: 5px;
}
.chat-box{
position: fixed;
  right: 30px;
  bottom: 4px;
  background:var(--grey);
  color: var(--white);
  border: 1px solid gray;
  text-transform: capitalize;
  font-size: 20px;
  margin: 10px 5px;
  padding: 15px 30px;
  border-radius: 1px;
  text-align: center;
  cursor: pointer;

}
.chat-box:hover{
  color:crimson;
}



/* .section a:hover{ 

  background: var(--grey);
  color: #fff;
}
*/

/* footer section starts */

.logo-end{
  color: var(--black);
  font-size: 3rem;
  font-weight: bold;
  font-family: cursive;
}
.logo-end i{
  color: var(--black);
  padding-right: 1rem;
}
.footer{
  background: var(--optional);
 
  padding: 13px 3px;

}

.footer .box-container{
  display: flex;
  /* gap: 1rem; */
  flex-wrap: wrap;

  
}


.footer .box-container .box{
  padding: 1rem 0;
  flex:1 1 25rem;

}
.footer .box-container .box .share a{
  padding: 0;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 50%;
}
.footer .box-container .box .share a:hover{
  color: var(--white);
  background: crimson;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  color: black;


}
.footer .box-container .box p{
  font-size: 1.1rem;
  padding: .7rem 0;
  color: black;

}
.footer .box-container .box .links{
  padding: 1rem 0;
}
.footer .box-container .box .links a{
  display: block;
  padding: .5rem 0;
font-size: 1.5rem;
color: #333;

}
.footer .box-container .box .links a:hover{
  text-decoration: underline;
  color: crimson;
 
}

.footer .credit{
  padding: 2.5rem 1rem;
  border-top: .1rem solid rgba(0,0,0,.1);
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}
.footer .credit span{
  color: crimson;
}

.footer h1:hover{
  color: var(--white);
  background: black;
}

.footer .credit span:hover{
  color: var(--grey);
  background: crimson;
}
/* footer section end */
